.env
.env.*
.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

Dockerfile
.dockerignore

logs
logs/
data
data/
exports
exports/
tmp
tmp/

.git
.gitignore
coverage
dist
build
*.local
